<h1>Your Playlists</h1>

{% for playlist in data %}

<h2>{{playlist}}</h2>

<button onClick="getAjax('{{playlist}}')">Show Playlist Art Link</button>
<br>
<form method=post enctype=multipart/form-data action="/{{playlist}}/upload">
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>

{% for song in data[playlist] %}
<p>{{song}}<p>

{% endfor %}

<br><br><br>
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
function getAjax(playlist_name) {
	$.ajax({
  url: "/ajax/"+playlist_name,
    dataType: "json"
})
  .done(function( json ) {
    alert("Go to: /uploads/" + json.imageLink)
  });
}
</script>